.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-color-success-contrast-background);
}

.featureSvg {
  height: 100px;
  width: 100px;
}